* {
    font-family: "메이플스토리";
}
.container {
    border: 1px solid black;
}
.middle {
    color: blue;
}
.high {
    color: red;
}
.inline_flex {
    display: inline-flex;
}
.text_center {
    text-align: center;
}
#sim_btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 285px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.no_border {
    border: none;
}
.sim_btn {
    height: 40px;
}
table {
    border-spacing: 14px 4px;
}
#total {
    border-left: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}
#total > div {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#info {
    margin-top: 33.6px;
}
body>div:nth-child(2) {
    margin-bottom: 16px;
}
#simulation {
    margin-left: 11px;
    margin-right: 11px;
}
#sim_section {
    gap: 27px;
}
#input_number {
    width: 59px;
}
.input_prob {
    margin-left: 5px;
    width: 43px;
}
#initialize {
    height: 47px;
    width: 221.18px;
    margin-top: 32px;
}
.inline_block {
    display: inline-block;
}
#set_prob {
    margin-left: 10px;
    width: 48.8px;
    height: 48.8px;
}
#input_repetition {
    padding: 10px;
}
.inputs_prob {
    margin-bottom: 8px;
}
#setting_probs {
    margin-top: 20px;
    padding-bottom: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input {
    text-align: center;
}