body {
    font-family: "메이플스토리";
}
input {
    font-family: "메이플스토리";
}
#buttons {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    width: 285px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
    justify-content: center;
}
.btn {
    height: 40px;
}
#simNormal {
    float: left;
    margin-right: 10px;
}
#sim {
    float: left;
    text-align: center;
    margin-left: 11px;
    margin-right: 11px;
}
#results {
    float: left;
    border-left: 1px black solid;
    padding-left: 4px;
    padding-right: 4px;
}
#simulation {
    border: 1px black solid;
    float: left;
}
table {
    border-spacing: 14px 4px;
}
#middle {
    color: blue;
}
#high {
    color: red;
}